<h1 class="topbar__tit topbar__logo">
    SocialFundIt
</h1>
<nav class="topbar__nav">
    <ul class="nav">
        <li class="nav__item nav__item--categories">
            <a id="btn-cat" href="#" class="btn--topbar">Filtrar</a>
            <div id="categories-popup" class="popdown">
            </div>
        </li>
    <!--
        <li class="nav__item nav__item--geo">
            <a href="#event" class="btn--icon">Geolocalization</a>
        </li>
        <li class="nav__item nav__item--display">
            <a href="#event" class="btn--icon">Display</a>
        </li>
    -->
    </ul>
</nav>
